<div class="row">
    <div class="col-md-6">

          <div class="media_right">
            <%= image_tag @user.image, class: 'media-object' %>
          </div>

    </div>

    <div class="col-md-6">

          <div class="media_left">
            <h2 class="media-heading"><%= @user.name %></h2>
          </div>

          <% if @user.telephone.nil? %>
            <div>
              <%= form_for @user do |f| %>
                   <div class="form-group">
                     <%= f.text_field :telephone, class: 'form-control', placeholder: "enter phone" %>
                   </div>
                   <div class="form-group">
                     <%= f.submit "Save", class: 'btn btn-success' %>
                   </div>
              <% end %>
            </div>
          <% else %>
            <div>
              <h2 class="media-heading"><%= @user.telephone %></h2>
            </div>
          <% end %>


    </div>

</div>
<div>
  <%= link_to "All Suggestions", user_suggestions_path(current_user), class: "btn btn-success" %>
</div>
<div>
  <%= link_to "All Availables", user_availables_path(current_user), class: "btn btn-success" %>
</div>
<div>
  <%= link_to "All Appointments", user_appointments_path(current_user), class: "btn btn-success" %>
</div>
