<div class="row">
  <% if invitation.raincheck %>

    <%= link_to(user_invitation_raincheck_path(current_user, invitation, invitation.raincheck)) do %>
      <div class="col-xs-8" id="amin8">
        <h3>Invited By: <%= invitation.invitee.name %></h3>
        <h3>To: <%= invitation.inviter.name %></h3>
        <p>invitation was sent on <%= invitation.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%A, %B %e") %></p>
      </div>

      <div class="col-xs-4" id="amin18">
        <h5>Rain Checked</h5>
      </div>
    <% end %>

  <% else %>

    <%= link_to(user_invitation_path(current_user, invitation)) do %>
      <div class="col-xs-10" id="amin8">
        <h3>Invited By: <%= invitation.inviter.name %></h3>
        <h3>To: <%= invitation.invitee ? invitation.invitee.name : invitation.invitee_tel  %></h3>
        <p>invitation was sent on <%= invitation.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%A, %B %e") %></p>
      </div>
    <% end %>

  <% end %>
</div>
