<div class="row">

    <div class="col-xs-2" id="amin6">
      <%= render partial: "leftbar", locals: {user: current_user} %>
    </div>

    <div class="col-xs-10">

      <div class="row" id="amin18">
        <h3>Rain Check</h3>
      </div>

      <%= form_tag [current_user, @invitation], method: :put do %>

        <div class="row">
          <h3>Invited by: <%= @inviter.name %></h3>
          <h3>To: <%= @invitee.name %></h3>
          <p>invitation was updated on <%= @invitation.updated_at.strftime("%A, %B %e") %></p>
        </div>

        <div id="invitation-suggestion">

          <h3>Current Suggested Places</h3>
          <% @suggestions.each do |s| %>
            <%= content_tag :div, class: "amin18 location", id: s.id do %>
              <h4>
                <%= s.name %>
                <% if s.event %>
                  <i class="glyphicon glyphicon-tags"> </i>&nbsp;
                <% end %>
              </h4>
              <p><%= s.description %></p>
            <% end %>
          <% end %>

        </div>
        <div id="suggestion-result"></div>

        <div id="available-days">

          <h3>Extended Days</h3>
          <small>
            (Your availablities are private and only visible to you.)
          </small>
          <% @availables.each do |a| %>
              <%= content_tag :div, class: "amin18 day", id: a do %>
                <% if a == Date.today %>
                  <h4>Tonight</h4>
                <% elsif a == Date.today + 1%>
                  <h4>Tomorrow</h4>
                <% else %>
                  <h4><%= a.strftime("%A %b %e") %></h4>
                <% end %>
              <% end %>
          <% end %>

        </div>
        <div id="days-result"></div>

        <div class="row">
          <%= submit_tag("re-invite", class: "btn btn-block save btn-success") %>
        </div>

      <% end %>

    </div>

</div>
