<div class="row">

    <div class="col-xs-2" id="amin6">
      <%= render partial: "leftbar", locals: {user: current_user} %>
    </div>

    <div class="col-xs-10">

      <div class="row" id="amin4">
        <h3>New Invitation</h3>
      </div>

      <%= form_tag [@inviter, @invitation] do %>

        <div class="row">
          <% if @invitee %>
            <h3>Invite <%= @invitee.name %></h3>
          <% else %>
            <h3>Invite with phone number: <%= @invitee_tel %></h3>
            <%= text_field_tag(:invitee_name, nil, placeholder: "Add name (optional)") %>
          <% end %>
        </div>

        <%= hidden_field_tag(:invitee_tel, @invitee_tel) %>

        <div id="invitation-suggestions">

          <h3>Choose From My Places</h3>
          <% if @inviter_suggestions %>
              <% @inviter_suggestions.each do |s| %>
                <%= content_tag :div, class: "amin18 location", id: s.id do %>
                  <h4>
                    <%= s.name %>
                    <% unless s.public %>
                      <i class="glyphicon glyphicon-lock"> </i>&nbsp;
                    <% end %>
                    <% if s.event %>
                      <i class="glyphicon glyphicon-tags"> </i>&nbsp;
                    <% end %>
                  </h4>
                <% end %>
              <% end %>
          <% else %>
            <h4>You have no places.</h4>
          <% end %>

          <% if @invitee_suggestions && @invitee_suggestions.count > 0 %>
            <h3><%= @invitee.name %>'s Public Places</h3>
              <% @invitee_suggestions.each do |s| %>
                <%= content_tag :div, class: "amin18 location", id: s.id do %>
                  <h4>
                    <%= s.name %>
                    <% if s.event %>
                      <i class="glyphicon glyphicon-tags"> </i>&nbsp;
                    <% end %>
                  </h4>
                  <p><%= s.description %></p>
                <% end %>
              <% end %>
          <% end %>

        </div>
        <div id="suggestion-result"></div>

        <div id="available-days">

          <h3>Days I'm free</h3>
          <small>
            (Your availablities are private and only visible to you.)
          </small>
          <% @availables.each do |a| %>
              <%= content_tag :div, class: "amin18 day", id: a do %>
                <% if a == Date.today %>
                  <h4>Tonight</h4>
                <% elsif a == Date.today + 1%>
                  <h4>Tomorrow</h4>
                <% else %>
                  <h4><%= a.strftime("%A") %></h4>
                <% end %>
              <% end %>
          <% end %>

        </div>
        <div id="days-result"></div>

        <div class="row">
          <%= submit_tag("invite", class: "btn btn-block save btn-success") %>
        </div>

      <% end %>

    </div>

</div>
