<div class="row">
  <div class="col-xs-2" id="amin6">
    <ul class="nav nav-pills nav-stacked">
      <li>
        <%= link_to user_appointments_path(@user), id: "amin7" do %>
          <h3><i class="glyphicon glyphicon-heart"> </i>&nbsp;</h3>
        <% end %>
      </li>
      <li>
        <%= link_to user_suggestions_path(@user), id: "amin7" do %>
          <h3><i class="glyphicon glyphicon-map-marker"> </i>&nbsp;</h3>
        <% end %>
      </li>
      <li>
        <%= link_to user_invitations_path(@user), id: "amin7" do %>
          <h3><i class="glyphicon glyphicon-envelope"> </i>&nbsp;</h3>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="col-xs-10">

    <div class="row" id="amin4">
      <h3>Invitation</h3>
    </div>

    <div class="row">
        <h3><%= @invitation.users.first.name %> invites <%= @invitation.invitee_name %></h3>
    </div>

    <div class="row">
        <%= form_tag [@user, @appointment] do %>

          <%= hidden_field_tag(:invitation_id, @invitation.id) %>

          <div id="invitation-suggestion">

            <h3>Your Suggestions</h3>
            <% @suggestions.each do |s| %>
              <%= content_tag :div, class: "btn btn-default location", id: s.id do %>
                <h4><%= s.name %></h4>
                <p><%= s.description %></p>
              <% end %>
            <% end %>

          </div>
          <div id="suggestion-result"></div>

          <div id="available-days">

            <h3>In the next 7 days, choose the days that you are free</h3>
              <% @availables.each do |a| %>
                  <%= content_tag :div, class: "btn btn-default day", id: a do %>
                    <%= a.strftime("%A") %>
                  <% end %>
              <% end %>

          </div>
          <div id="days-result"></div>

          <% if @invitation.users.first != current_user %>
            <div class="row">
              <%= submit_tag("Create a Date", class: "btn btn-block save", id: "amin12") %>
            </div>
          <% end %>

        <% end %>

    </div>

  </div>

</div>
