<div class="row">
  <%= link_to("#") do %>

      <div class="col-xs-10" id="amin8">
        <div class="row">

            <div class="col-xs-3">
              <%= image_tag appointment.users.select{|u| u!=@user}.first.image, class: 'media-object' %>
            </div>

            <div class="col-xs-6">
                <h3><%= appointment.users.select{|u| u!=@user}.first.name %></h3>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-6">
                <small><%= appointment.suggestion.name %></small>
            </div>
            <div class="col-xs-6">
                <small><%= appointment.day.strftime("%A") %></small>
            </div>
        </div>
      </div>

  <% end %>

</div>
