<%= link_to(user_appointment_path(@user, appointment)) do %>
  <div class="row" style="padding:10px;border:solid;margin:5px;">
            <div class="row" style="text-align:center;">
                <h5><%= appointment.day.in_time_zone("Pacific Time (US & Canada)").strftime("%A %b %e") %></h5>
            </div>

            <div class="col-xs-5" style="border:solid;padding:20px;">
              <div>
                <%= image_tag appointment.users.select{|u| u!=@user}.first.image, class: 'media-object' %>
              </div>
              <div>
                <h3><%= appointment.users.select{|u| u!=@user}.first.name %></h3>
              </div>
            </div>

            <div class="col-xs-7" style="padding:10px;">
              <div>
                <h3><%= appointment.suggestion.name %></h3>
                <small><%= appointment.suggestion.description %></small>
              </div>
            </div>

  </div>

<% end %>
