<div class="row">

    <div class="col-xs-2" id="amin6">
      <ul class="nav nav-pills nav-stacked">

      </ul>
    </div>

    <div class="col-xs-10">

      <div class="row" id="amin4">
        <%= image_tag @user.image, size: "50x50" %>
        <%= @user.name %>
      </div>

      <div class="row" id="amin9">
          <%= @suggestion.name %>
      </div>

      <% if @availables.count < 1 %>
            <div class="row" id="amin11">
              Oops! Seems like <%= @user.name %> is not free anytime soon! Let them know.
            </div>
      <% else %>
            <%= form_tag(new_user_appointment_path(current_user), method: :get) do |f| %>
              <%= hidden_field_tag(:other_user, @user.id) %>
              <%= hidden_field_tag(:suggestion, @suggestion.id) %>

              <% @availables.each do |a| %>
                  <%= check_box_tag 'available_id', "#{a.id}" %>
                  <div class="row">
                    <div class="col-xs-10" id="amin8">
                      <h3><%= a.slot.strftime("%A %b, %e at %l%P") %></h3>
                    </div>
                  </div>
              <% end %>

              <div class="row">
                <%= submit_tag "Proceed", class: "btn btn-block", id: "amin12" %>
              </div>
            <% end %>
      <% end %>

    </div>

</div>
