<div class="row">

    <div class="col-xs-2" id="amin6">
      <ul class="nav nav-pills nav-stacked">

      </ul>
    </div>

    <div class="col-xs-10">

      <div class="row" id="amin4">
          <h3><small>with: </small><%= @user.name %></h3>
      </div>

      <div class="row" id="amin9">
          <h3><small>at: </small><%= @suggestion.name %></h3>
      </div>

      <!-- <%= form_tag(new_user_appointment_path(current_user), method: :get) do %>
        <%= hidden_field_tag(:other_user, @user.id) %>
        <%= hidden_field_tag(:suggestion, @suggestion.id) %>

        <% @availables.each do |a| %>
          <div class="row">
            <div class="col-xs-10" id="amin8">
              <h3><%= a.slot.strftime("%A %b, %e at %l%P") %></h3>
              <%= hidden_field_tag(:available, a.id) %>
              <%= submit_tag("select", class: "btn btn-block btn-primary", id: "amin4") %>
            </div>
          </div>
        <% end %>

      <% end %> -->

      <%= form_tag(new_user_appointment_path(current_user), method: :get) do |f| %>
        <%= hidden_field_tag(:other_user, @user.id) %>
        <%= hidden_field_tag(:suggestion, @suggestion.id) %>

        <% @availables.each do |a| %>
            <%= check_box_tag 'available_id', "#{a.id}" %>
            <div class="row">
              <div class="col-xs-10" id="amin8">
                <h3><%= a.slot.strftime("%A %b, %e at %l%P") %></h3>
              </div>
            </div>
        <% end %>
        <%= submit_tag "Proceed", class: "btn btn-block btn-primary", id: "amin4" %>
      <% end %>

    </div>

</div>
