<div class="row">
  <div class="col-xs-2" id="amin6">
    <%= render partial: "leftbar", locals: {user: current_user} %>
  </div>

  <div class="col-xs-10">

        <div class="row" id="amin4">
          <h3>Dates</h3>
        </div>

        <% if @appointments.count < 1 %>
            <div class="row" id="amin11">
              Go to invitations <i class="glyphicon glyphicon-envelope"> </i>&nbsp; and ask someone out!
            </div>
        <% end %>

        <div class="row">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <%= link_to "Calendar", "#", class: "btn btn-primary", id: "calendar-view", remote: true %>
            </div>
            <div class="btn-group" role="group">
              <%= link_to "All", "#", class: "btn btn-info", id: "all-appointments", remote: true %>
            </div>
            <div class="btn-group" role="group">
              <%= link_to "Future", "#", class: "btn btn-info", id: "upcoming-appointments", remote: true %>
            </div>
            <div class="btn-group" role="group">
              <%= link_to "Past", "#", class: "btn btn-info", id: "past-appointments", remote: true %>
            </div>
          </div>
        </div>

        <div id='appointments-index'>
          <%= render partial: 'appointments/calendar', locals: {appointments: @appointments, user: @user} %>
        </div>

  </div>

</div>
