<div class="row">
  <div class="col-xs-2" id="amin6">
    <ul class="nav nav-pills nav-stacked">
      <li>
        <%= link_to user_appointments_path(@user), id: "amin7" do %>
          <h3><i class="glyphicon glyphicon-heart"> </i>&nbsp;</h3>
        <% end %>
      </li>
      <li>
        <%= link_to user_suggestions_path(@user), id: "amin7" do %>
          <h3><i class="glyphicon glyphicon-map-marker"> </i>&nbsp;</h3>
        <% end %>
      </li>
      <li>
        <%= link_to user_invitations_path(@user), id: "amin7" do %>
          <h3><i class="glyphicon glyphicon-envelope"> </i>&nbsp;</h3>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="col-xs-10">

        <div class="row" id="amin4">
          <h3>Dates</h3>
        </div>

        <% if @appointments.count < 1 %>
            <div class="row" id="amin11">
              Go to invitations <i class="glyphicon glyphicon-envelope"> </i>&nbsp; and ask someone out!
            </div>
        <% end %>

        <div class="row">
          <div class="col-xs-3">
            <%= link_to "Calendar", "#", id: "calendar-view", remote: true %>
          </div>
          <div class="col-xs-3">
            <%= link_to "All", "#", id: "all-appointments", remote: true %>
          </div>
          <div class="col-xs-3">
            <%= link_to "Future", "#", id: "upcoming-appointments", remote: true %>
          </div>
          <div class="col-xs-3">
            <%= link_to "Past", "#", id: "past-appointments", remote: true %>
          </div>
        </div>

        <div id='appointments-index'>
          <%= render partial: 'appointments/calendar', locals: {appointments: @appointments, user: @user} %>
        </div>

  </div>

</div>
