<div class="row">
  <div class="col-xs-2" id="amin6">
    <ul class="nav nav-pills nav-stacked">
       <li>
         <% unless @user.telephone.nil? %>
             <%= link_to user_find_user_path, id: "amin7" do %>
               <h3><i class="glyphicon glyphicon-plus"> </i>&nbsp;</h3>
             <% end %>
         <% end %>
       </li>
       <li>
         <%= link_to "All Dates", "#", id: "all-appointments", remote: true %>
       </li>
       <li>
         <%= link_to "Upcoming Dates", "#", id: "upcoming-appointments", remote: true %>
       </li>
       <li>
         <%= link_to "Past Dates", "#", id: "past-appointments", remote: true %>
       </li>
    </ul>
  </div>

  <div class="col-xs-10">

        <div class="row" id="amin4">
          <h3>Dates</h3>
        </div>

        <div id='appointments-index'>
          <%= render @appointments %>
        </div>

  </div>

</div>
