<div class="row">

    <div class="col-xs-2" id="amin6">
      <ul class="nav nav-pills nav-stacked">

      </ul>
    </div>

    <div class="col-xs-10">

      <div class="row" id="amin4">
        <%= image_tag @user.image, size: "50x50" %>
        <%= @user.name %>
      </div>

      <div class="row" id="amin9">
          <%= @suggestion.name %>
      </div>

      <div class="row" id="amin10">
          <%= @available.slot.strftime("%A %b, %e at %l%P") %>
      </div>

      <%= form_for [current_user, @appointment] do |f| %>
        <%= hidden_field_tag(:available, @available.id) %>
        <%= hidden_field_tag(:suggestion, @suggestion.id) %>
        <%= hidden_field_tag(:other_user, @user.id) %>
        <div class="row">
          <%= f.submit("Confirm Date", class: "btn btn-block", id: "amin12") %>
        </div>
      <% end %>

    </div>

</div>
