<div class="row">

    <div class="col-xs-2" id="amin6">
      <ul class="nav nav-pills nav-stacked">

      </ul>
    </div>

    <div class="col-xs-10">

      <div class="row" id="amin4">
        <%= image_tag @user.image, size: "50x50" %>
        <%= @user.name %>
      </div>

      <% if @suggestions.count < 1 %>
            <div class="row" id="amin11">
              Oops! Seems like <%= @user.name %> has no idea where s/he wants to meet you! Let them know.
            </div>
      <% else %>
            <%= form_tag(user_available_index_path(current_user), method: :get) do |f| %>
              <%= hidden_field_tag(:other_user, @user.id) %>

            <% @suggestions.each do |s| %>
                <%= check_box_tag 'suggestion_id', "#{s.id}" %>
                <div class="row">
                  <div class="col-xs-10" id="amin8">
                    <h3><%= s.name %></h3>
                    <small><%= s.description %></small>
                  </div>
                </div>
            <% end %>

              <div class="row">
                <%= submit_tag "Choose Time", class: "btn btn-block", id: "amin12" %>
              </div>
            <% end %>
      <% end %>

    </div>

</div>
