<%= form_for [@user, @suggestion] do |f| %>

    <div class="row">

        <div class="col-xs-2" id="amin6">
          <ul class="nav nav-pills nav-stacked">
             <li id="amin12">
                 <%= button_tag(type: "submit", class: "btn", id: "amin12") do %>
                      <i class="glyphicon glyphicon-ok"></i>
                  <% end %>
             </li>
             <li id="amin11">
               <%= link_to [@user, @suggestion], method: :delete, data: {confirm: 'Are you sure?'} do %>
                 <i class="glyphicon glyphicon-remove"></i>
               <% end %>
             </li>
          </ul>
        </div>

        <div class="col-xs-10">

          <div class="row" id="amin4">
              <h3>Edit Place</h3>
          </div>

          <div class="row">
              <div class="col-xs-10">
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :description %>
                  <%= f.text_area :description, rows: 4, class: 'form-control', placeholder: "Why do you suggest this? Include the neighborhood." %>
                </div>

                <div class="form-group">
                      <%= f.label :event, class: 'checkbox' do %>
                        <%= f.check_box :event %> Click here if it's a concert or an event.
                      <% end %>
                </div>

                <div class="form-group">
                      <%= f.label :public, class: 'checkbox' do %>
                        <%= f.check_box :public %> Public
                      <% end %>
                </div>

              </div>

          </div>

        </div>

    </div>

<% end %>
