<div class="row">

    <div class="col-xs-2" id="amin6">
      <ul class="nav nav-pills nav-stacked">
         <li>
           <%= link_to new_user_suggestion_path(current_user), id: "amin7" do %>
             <h3><i class="glyphicon glyphicon-plus"> </i>&nbsp;</h3>
           <% end %>
         </li>
      </ul>
    </div>

    <div class="col-xs-10">

      <div class="row" id="amin4">
          <h3>Places</h3>
      </div>

      <% @suggestions.each do |s| %>
            <%= link_to(edit_user_suggestion_path(current_user, s)) do %>
                <div class="row">
                  <div class="col-xs-10" id="amin8">
                    <h3><%= s.name %></h3>
                    <small><%= s.description %></small>
                  </div>
                  <%= link_to edit_user_suggestion_path(current_user, s) do %>
                    <div class="col-xs-2" id="amin16">
                      <h5>Edit</h5>
                    </div>
                  <% end %>
                </div>
            <% end %>

      <% end %>

    </div>

</div>
