<div class="row">

    <div class="col-xs-2" id="amin6">
      <ul class="nav nav-pills nav-stacked">
         <li>
           <%= link_to user_appointments_path(@user), id: "amin7" do %>
             <h3><i class="glyphicon glyphicon-heart"> </i>&nbsp;</h3>
           <% end %>
         </li>
         <li>
           <%= link_to user_suggestions_path(@user), id: "amin7" do %>
             <h3><i class="glyphicon glyphicon-map-marker"> </i>&nbsp;</h3>
           <% end %>
         </li>
         <li>
           <%= link_to user_invitations_path(@user), id: "amin7" do %>
             <h3><i class="glyphicon glyphicon-envelope"> </i>&nbsp;</h3>
           <% end %>
         </li>
      </ul>
    </div>

    <div class="col-xs-10">

      <div class="row" id="amin4">
          <h3>Places</h3>
      </div>

      <% if @suggestions.count < 1 %>
          <div class="row" id="amin11">
            Add a new activity or place by clicking on <i class="glyphicon glyphicon-plus"> </i>&nbsp; !
          </div>
      <% end %>

      <%= link_to new_user_suggestion_path(current_user) do %>
        <div class="row">
          <h3><i class="glyphicon glyphicon-plus"> </i>&nbsp;</h3>
        </div>
      <% end %>

      <%= render @suggestions %>

    </div>

</div>
