<div class="row">

    <div class="col-xs-2" id="amin6">
      <ul class="nav nav-pills nav-stacked">
         <li>
           <%= link_to user_mood_path(@user,1), id: "amin7" do %>
             <h3><i class="glyphicon glyphicon-star"> </i>&nbsp;</h3>
           <% end %>
         </li>
         <li>
           <%= link_to user_mood_path(@user,2), id: "amin7" do %>
             <h3><i class="glyphicon glyphicon-glass"> </i>&nbsp;</h3>
           <% end %>
         </li>
         <li>
           <%= link_to user_mood_path(@user,3), id: "amin7" do %>
             <h3><i class="glyphicon glyphicon-cutlery"> </i>&nbsp;</h3>
           <% end %>
         </li>
         <li>
           <%= link_to user_mood_path(@user,4), id: "amin7" do %>
             <h3><i class="glyphicon glyphicon-music"> </i>&nbsp;</h3>
           <% end %>
         </li>
         <li>
           <%= link_to user_mood_path(@user,5), id: "amin7" do %>
             <h3><i class="glyphicon glyphicon-film"> </i>&nbsp;</h3>
           <% end %>
         </li>
         <li>
           <%= link_to user_mood_path(@user,6), id: "amin7" do %>
             <h3><i class="glyphicon glyphicon-tree-conifer"> </i>&nbsp;</h3>
           <% end %>
         </li>
      </ul>
    </div>

    <div class="col-xs-10">

      <div class="row" id="amin4">
          <h3><small>with: </small><%= @user.name %></h3>
      </div>

      <div class="row" id="amin9">
          <h3><small>where: </small><%= @suggestion.name %></h3>
      </div>

      <div class="row" id="amin10">
          <h3><small>time: </small><%= @available.slot.inspect %></h3>
      </div>

      <%= link_to(user_suggestion_available_appointments_path(@user, @suggestion, @available), method: :post) do %>
          <div class="row" id="amin5">
            <h3>Confirm</h3>
          </div>
      <% end %>

    </div>

</div>
