<!DOCTYPE html>
<html>
<head>
  <title>Thorsh: We Get You on a Date</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width", "initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container" id="amin13">
    <% if user_signed_in? %>
       <div class="row">
          <div class="col-xs-9">

             <div class="row">
               <div class="col-xs-2" id="amin3">
                   <%= link_to user_path(current_user) do %>
                      <%= image_tag current_user.image, size: "50x50" %>
                   <% end %>
               </div>

               <div class="col-xs-8" id="amin15">

                     <h3 class="media-heading"><b><%= current_user.name %></b></h3>

                     <% if current_user.telephone.nil? %>
                         <%= form_for @user do |f| %>
                              <div class="form-group">
                                <%= f.text_field :telephone, class: 'form-control', placeholder: "enter your phone" %>
                              </div>
                              <div class="form-group">
                                <%= f.submit "Save", class: 'btn btn-success' %>
                              </div>
                         <% end %>
                     <% else %>
                           <h4 class="media-heading"><%= current_user.telephone %></h4>
                     <% end %>

               </div>

             </div>

          </div>
          <div  class="col-xs-3" id="amin14">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </div>
       </div>

    <% else %>
       <ul class="nav nav-tabs">
         <li class="pull-left"><%= link_to "Home", root_path %></li>
         <li class="pull-right"><%= link_to "About", about_path %></li>
       </ul>

    <% end %>


  </div>

  <div class="flash">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
  </div>

  <%= yield %>

</body>
</html>
